language: minimal
dist: bionic

script:
  - sudo apt-get -y install python3-pip python3-setuptools # fontforge
  - sudo pip3 install afdko
  # |2
  # FILENAMES=$(find source/ -type f -name 'fontinfo.plist' | cut -d "/" -f 2 | cut -d "." -f 1)
  # for FILENAME in $FILENAMES; do
  #   fontforge -c "f=fontforge.open(\"source/${FILENAME}.ufo\"); f.generate(\"${FILENAME}.otf\")"
  #   fontforge -c "f=fontforge.open(\"source/${FILENAME}.ufo\"); f.generate(\"${FILENAME}.ttf\")"
  # done
  - |2
    FILENAMES=$(find source/ -type f -name 'lib.plist' | cut -d "/" -f 2 | cut -d "." -f 1)
    for FILENAME in $FILENAMES; do
      makeotf -f "source/${FILENAME}.ufo"
      otf2ttf "source/${FILENAME}.otf"
    done

after_success:
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh source/*.otf source/*.ttf
  
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/
