<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Adieresis</string>
		<string>Alpha</string>
		<string>B</string>
		<string>Beta</string>
		<string>C</string>
		<string>Chi</string>
		<string>D</string>
		<string>E</string>
		<string>Edieresis</string>
		<string>Eng</string>
		<string>Epsilon</string>
		<string>Eta</string>
		<string>Eth</string>
		<string>F</string>
		<string>G</string>
		<string>Gamma</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>Idieresis</string>
		<string>Iota</string>
		<string>J</string>
		<string>K</string>
		<string>Kappa</string>
		<string>L</string>
		<string>Lambda</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mu</string>
		<string>N</string>
		<string>Nu</string>
		<string>O</string>
		<string>OE</string>
		<string>Odieresis</string>
		<string>Omicron</string>
		<string>Oslash</string>
		<string>P</string>
		<string>Phi</string>
		<string>Pi</string>
		<string>Psi</string>
		<string>Q</string>
		<string>R</string>
		<string>Rho</string>
		<string>S</string>
		<string>Sigma</string>
		<string>T</string>
		<string>Tau</string>
		<string>Tbar</string>
		<string>Theta</string>
		<string>Thorn</string>
		<string>U</string>
		<string>Udieresis</string>
		<string>Upsilon</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Xi</string>
		<string>Y</string>
		<string>Z</string>
		<string>Zeta</string>
		<string>a</string>
		<string>acute</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>alpha</string>
		<string>ampersand</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>asterisk</string>
		<string>at</string>
		<string>b</string>
		<string>backslash</string>
		<string>bar</string>
		<string>beta</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>breve</string>
		<string>c</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>cent</string>
		<string>chi</string>
		<string>colon</string>
		<string>comma</string>
		<string>copyright</string>
		<string>currency</string>
		<string>d</string>
		<string>dcroat</string>
		<string>degree</string>
		<string>delta</string>
		<string>dieresis</string>
		<string>divide</string>
		<string>dollar</string>
		<string>dotaccent</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>edieresis</string>
		<string>eight</string>
		<string>eng</string>
		<string>epsilon</string>
		<string>equal</string>
		<string>eta</string>
		<string>eth</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>f</string>
		<string>five</string>
		<string>four</string>
		<string>g</string>
		<string>gamma</string>
		<string>germandbls</string>
		<string>grave</string>
		<string>greater</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>h</string>
		<string>hbar</string>
		<string>hungarumlaut</string>
		<string>hyphen</string>
		<string>i</string>
		<string>idieresis</string>
		<string>ij</string>
		<string>iota</string>
		<string>j</string>
		<string>k</string>
		<string>kappa</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lambda</string>
		<string>ldot</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>lslash</string>
		<string>m</string>
		<string>multiply</string>
		<string>n</string>
		<string>napostrophe</string>
		<string>nine</string>
		<string>nu</string>
		<string>numbersign</string>
		<string>o</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ogonek</string>
		<string>omega</string>
		<string>omicron</string>
		<string>one</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>oslash</string>
		<string>p</string>
		<string>paragraph</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>phi</string>
		<string>phi1</string>
		<string>pi</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>psi</string>
		<string>q</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>r</string>
		<string>registered</string>
		<string>rho</string>
		<string>ring</string>
		<string>s</string>
		<string>section</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>sigma</string>
		<string>six</string>
		<string>slash</string>
		<string>space</string>
		<string>sterling</string>
		<string>t</string>
		<string>tau</string>
		<string>tbar</string>
		<string>theta</string>
		<string>thorn</string>
		<string>three</string>
		<string>threequarters</string>
		<string>tilde</string>
		<string>two</string>
		<string>u</string>
		<string>udieresis</string>
		<string>underscore</string>
		<string>uni0001</string>
		<string>uni0002</string>
		<string>uni0003</string>
		<string>uni0004</string>
		<string>uni0005</string>
		<string>uni0006</string>
		<string>uni0007</string>
		<string>uni0008</string>
		<string>uni0009</string>
		<string>uni000A</string>
		<string>uni000B</string>
		<string>uni000C</string>
		<string>uni000D</string>
		<string>uni000E</string>
		<string>uni000F</string>
		<string>uni0010</string>
		<string>uni0011</string>
		<string>uni0012</string>
		<string>uni0013</string>
		<string>uni0014</string>
		<string>uni0015</string>
		<string>uni0016</string>
		<string>uni0017</string>
		<string>uni0018</string>
		<string>uni0019</string>
		<string>uni001A</string>
		<string>uni001B</string>
		<string>uni001C</string>
		<string>uni001D</string>
		<string>uni001E</string>
		<string>uni001F</string>
		<string>uni0081</string>
		<string>uni0082</string>
		<string>uni0083</string>
		<string>uni0084</string>
		<string>uni0085</string>
		<string>uni00AD</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni00B9</string>
		<string>uni02BC</string>
		<string>uni02D0</string>
		<string>uni0308</string>
		<string>uni0394</string>
		<string>uni03A9</string>
		<string>uni03BC</string>
		<string>uni0401</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0426</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni042C</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0446</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni044C</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0451</string>
		<string>uni2117</string>
		<string>uni2219</string>
		<string>upsilon</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>xi</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>yen</string>
		<string>z</string>
		<string>zero</string>
		<string>zeta</string>
	</array>
</dict>
</plist>
